*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}
img {
  width: 100%;
}
.page {
  margin: 0;
  padding: 0;
  color: black;
  width: 1100px;
}
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100;
  height: 293;
  margin:15px 86px 92px 10px;
}
.header__links-list {
  display: flex;
  list-style: none;
  gap: 33px;
}
.header__links-list-item {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap;
  padding-top:74px;
}
.header__links-list-item:nth-child(n+2) {
  list-style-type:circle;
}
.text-main {
  text-decoration: none;
  color: black;
}
.text-either {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;

}
.header__logo {
    padding-left:38px;
    margin-top:77px;
}
.header__logo-image {
  width: 148px;
  height: 105px;
}
.telefon-mail {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  white-space: nowrap;
  color: black;
  justify-self: end;
}
.address.adress-header {
  padding-top:74px;
}
.main_content {
  position: relative;
  width: 1100px;
  height: 757px;
  overflow: hidden;
}
.main-img {
  position: absolute;
  height: 757px;
  background-repeat: no-repeat;
  width: 1100px;
  object-fit: cover;
}
.main_content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.h1_section1 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.it,
.you,
.need {
  z-index: 1;
  font-weight: 700;
  font-style: bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30%;
  text-transform: uppercase;
  color: white;
  position: absolute;
  width: 100%;
}
.it {
  display: flex;
  width: 286px;
  transform: translate(-357px, 146px);
  letter-spacing:30px;
}
.you {
  display: flex;
  width: 385px;
  transform: translate(23px, 282px);
  letter-spacing:30px;
}
.need {
  display: flex;
  width: 387px;
  transform: translate(307px, 415px);
  letter-spacing:30px;
}
.text_auction {
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  margin: 628px 0px 61px 21px;
  padding-left:29px;
  word-spacing: 20px;
  white-space: nowrap;
  z-index: 1;

}
.text_stavka {
  font-weight: 256;
  font-size: 22px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 13px 32px 11px 31px;
  position: absolute;
  margin: 615px 50px 50px 794px;
  white-space: nowrap;
  z-index: 1;
}
.section_lots {
  padding: 135px 24px 27px 24px;
}
.lots {
  font-size: 40px;
  margin-left: 40px;
  font-weight: 700;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.section2_ul {

  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.section2_li {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.text_film,
.text_book,
.text_picture {
  text-decoration: underline;
  font-family: Raleway;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  color: white;
}
.text_lection,
.text_pages,
.text_actually {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: left;
  color: white;
}
.content1,
.content2,
.content3 {
  position: relative;
  width: 334px;
  height: 596px;
  overflow: hidden;
}
.background-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.content2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.content3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
.text_film {
  position: absolute;
  z-index: 1;
  padding: 22px 40px 466px 40px;
}
.text_lection {
  position: absolute;
  z-index: 1;
  padding: 382px 40px 48px 40px;
}
.text_book {
  position: absolute;
  z-index: 1;
  padding: 22px 40px 438px 40px;
}
.text_pages {
  position: absolute;
  z-index: 1;
  padding: 1690px 40px 48px 40px;
}
.text_picture {
  position: absolute;
  z-index: 1;
  padding: 22px 40px 438px 40px;
}
.text_actually {
  position: absolute;
  z-index: 1;
  padding: 262px 40px 48px 40px;
}
.text_look {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 30px 820px 0px 39px;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.about_auction_main {
  display: flex;
  gap: 72px;
  margin: 50px 24px 0px 24px;
}
.circle {
  position: absolute;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 100%;
  margin: 78px 765px 320px 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.logo_2 {
  width: 148px;
  height: 114x;
}
.about-content {
  margin: 144px 0px 0px 359px;
}
.about_auction {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 5px 402px 75px 0px;
  white-space: nowrap;
}
.text_here {
  padding-top:3px;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
.text_hard {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
.footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 157px 50px 0px 50px;
}
.footer_list {
  padding-top:3px;
}
.footer_ul {
  gap:3px;
  display: flex;
  list-style: none;
  flex-direction: column;
  text-align: center;
  margin: 0px;
}
.address_footer {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  white-space: nowrap;
  margin-right: 154.03;
}
.footer_logo_ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0 auto;
}
.footer_list_li2 {
  width: 48px;
}
.header__links-list-item-footer {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap;
  padding-top:0px;
}
