*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}
img {
  width: 100%;
}
.page {
  margin: 0;
  padding: 0;
  color: black;
  width: 1100px;
}
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 89px 50px 95px 50px;
}
.header__menu {
  margin-right:35.52px;
  margin-left:-40px;
}
.header__links-list {
  display: flex;
  list-style: none;
  gap: 32px;
}
.header__links-list-item {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  white-space: nowrap;
}
.text-main {
  text-decoration: none;
  color: black;
}
.text-either {
  color:black;
}
.header__logo-image {
  padding-top: 5px;
  width: 148px;
  height: 105px;
}
.telefon-mail {
  color:black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.address {
  font-style:normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  white-space: nowrap;
  color:black;
  justify-self:end;
}
.address.adress-header {
  margin-right: 45px;
}
.main_content {
  position: relative;
  width: 1100px;
  height: 757px;
  overflow: hidden;
}
.main-img {
  position: absolute;
  height: 757px;
  background-repeat: no-repeat;
  width: 1100px;
  object-fit: cover;
}
.main_content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.h1_section1 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.it,
.you,
.need {
  z-index: 1;
  font-weight: 700;
  font-style: bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  letter-spacing: 30%;
  text-transform: uppercase;
  color: white;
  position: absolute;
  width: 100%;
  text-align: center;
}
.it {
  display: flex;
  justify-content: space-between;
  width: 286px;
  transform: translate(-358px, 144px);
}
.you {
  display: flex;
  justify-content: space-between;
  width: 385px;
  transform: translate(5px, 281px);
}
.need {
  display: flex;
  justify-content: space-between;
  width: 387px;
  transform: translate(315px, 420px);
}
.text_auction {
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: white;
  position: absolute;
  margin: 630px 413px 61px 50px;
  word-spacing: 20px;
  white-space: nowrap;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 637px;
}
.text_stavka {
  font-weight: 256;
  font-size: 22px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 12px 32px 11px 31px;
  position: absolute;
  margin: 616px 50px 50px 794px;
  white-space: nowrap;
  z-index: 1;
}
.section_lots {
  margin: 182px 24px 27px 24px;
}
.lots {
  font-size: 40px;
  margin-left: 50px;
  font-weight: 700;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.section2_ul {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.section2_li {
  flex:1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.text_film,
.text_book,
.text_picture {
  font-family: Raleway;
font-weight: 700;
font-style: Bold;
font-size: 22px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;
color: white;

}
.text_lection,
.text_pages,
.text_actually {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: white;
  text-align: left;
}
.content1,
.content2,
.content3 {
  margin-top: 4px;
  position: relative;
  width: 334px;
  height: 596px;
  overflow: hidden;
}
.background-img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.content2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.content3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.text_film {
  position: absolute;
  z-index: 1;
  padding: 30px 40px 466px 40px;
}
.text_lection {
  position: absolute;
  z-index: 1;
  padding: 396px 40px 48px 40px;
}
.text_book {
  position: absolute;
  z-index: 1;
  padding: 30px 40px 438px 40px;
}
.text_pages {
  position: absolute;
  z-index: 1;
  padding: 170px 40px 48px 40px;
}

.text_picture {
  position: absolute;
  z-index: 1;
  padding: 30px 40px 438px 40px;
}

.text_actually {
  position: absolute;
  z-index: 1;
  padding: 264px 40px 48px 40px;
}
.text_look {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 18px 820px 0px 33px;
  white-space: nowrap;
  border-bottom: 1px solid black;
}
.about_auction_main {
  display: flex;
  align-items: center;
  gap: 72px;
  margin: 80px 24px 0px 24px;
}
.circle {
  position: absolute;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 100%;
  margin: 40px 765px 320px 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.logo_2 {
  width: 148px;
  height: 114x;
}
.about-content {
  padding: 140px 0px 13px 359px;
}
.about_auction {
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding: 0px 402px 75px 0px;
  white-space: nowrap;
}
.text_here {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
.text_hard {
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}
.footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 165px 50px 0px 50px;
}
.footer_ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  text-align: center;
  margin: 0px auto;
}
.address_footer {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0%;
  white-space: nowrap;
  margin-right:154.03;
}
 .footer_logo_ul {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0 auto;
}
.footer_list_li2 {
  width: 48px;
}
